<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SinglePhoto.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65C8B7821D78B36F00936E39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65C8B7961D78B36F00936E39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65C8B7A11D78B36F00936E39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
